.tableFixHead {
	overflow-y: auto;
	max-height: 200px;
}

.tableFixHead thead th {
	position: sticky;
	top: 0;
	background: white;
	box-shadow: inset 0px 1px #dee2e6, 0 1px #dee2e6;
}

.scroll-container {
	max-height: 200px;
}

.scroll-content {
	overflow-y: auto;
}

.plane-item {
	display: inline-block;
/*	border-radius: 2em !important;*/
	color: #007bff !important;
	background-color: rgba(0, 123, 255, 0.2) !important;
}
.plane-item:focus,
.plane-item:hover {
	background-color: rgba(102, 176, 255, 0.2) !important;
}
.plane-item.released {
	color: #28a745 !important;
	background-color: rgba(40, 167, 69, 0.2) !important;
}

.plane-item.released:focus,
.plane-item.released:hover {
	background-color: rgba(103, 199, 125, 0.2) !important;
}

.cursor-pointer {
	cursor: pointer;
}

.preloader {
	background-color: #ffffff;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	z-index: 99999;
	display: flex;
	justify-content: center;
	align-items: center;
}
.lds-dual-ring {
	display: inline-block;
	width: 80px;
	height: 80px;
}

.lds-dual-ring:after {
	content: " ";
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	border: 6px solid #00AEFF;
	border-color: #00AEFF transparent #00AEFF transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.hero-header {
	background-image: url("assets/header.jpg");
	background-color: #cccccc;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
/*.hero-text .slogan {
	text-shadow: 0px 2px 8px #000000, 1px 2px 2px #000000;
}*/
.hero-text .slogan {
	text-shadow: 1px 2px 2px #000000;
	background-color: #1d1d1d99;
	padding: 3em 1.5em !important;
}

.hero-text .slogan h1 {
	font-weight: 500;
}

@media (min-width: 768px) {

	.mw-50 {
		max-width: 50%;
	}
}
